<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

 
   <!--  conect database --> 
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
   		<property name="url" value="jdbc:mysql://localhost:3306/test" />
   		<property name="username" value="root"></property>
   		<property name="password" value="root"></property>
   </bean> 
   
  <!--  configuration hibernate -->
   <bean id="sessionfactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
   		<property name="dataSource" ref="dataSource"></property>
   		<property name="hibernateProperties">
   			<props>
   				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
   				<prop key="hibernate.showsql">true</prop>
   				<prop key="hibernate.hbm2ddl.auto">create</prop>
   				<prop key="current_session_context_class">jta</prop>
   				 
   			</props>
   		</property>
   		<property name="packagesToScan" value="com.NguyenToan.model"></property>
   		
   </bean>
   
   <!-- transaction manager -->
   <bean id="transaction" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
   		<property name="sessionFactory" ref="sessionfactory"></property>
   </bean>
   <tx:annotation-driven transaction-manager="transaction" /> 
</beans>
